<div class="flex h-screen flex-col">
  <div class="h-14 shrink-0 border-b-[0.2px]">
    <div class="flex justify-between items-center">
      <div class="flex gap-3 items-center">
        <img src="logo-colegio.png" width="50" height="50" />
        <button class="btn btn-soft btn-sm" (click)="handleOpenSidebar()">
          <fa-icon [icon]="iconService.faHamburger" class="text-2xl"></fa-icon>
        </button>
      </div>

      <div class="flex gap-3">
        <button class="btn btn-soft btn-primary">
          <fa-icon [icon]="iconService.faSearch"></fa-icon>
        </button>
        <div>
          <!-- Inical del usuario si no tiene imagen -->
          <div>C</div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-1 overflow-hidden">
    <ng-sidebar [(openSidebar)]="openSiebar" />
    <main class="flex-1 overflow-y-auto p-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        porro id nihil dignissimos, a consequuntur maxime neque ut non
        blanditiis sint nostrum beatae dolores, suscipit quia, rerum voluptatem
        molestias possimus.
      </p>
      <router-outlet />
    </main>
  </div>
</div>
